.job-results {
    max-height: 90vh;
    overflow-y: scroll;
    padding: 5px;
}

.job-card {
    background-color: #2c2c2c;
    color: #E0E0E0;
    border: 1px solid #6a0dad;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

.job-card:hover {
    background-color: #6a0dad;
    transform: scale(1.02);
    cursor: pointer;
}

.job-card h3 {
    margin: 0;
}

.job-card p {
    margin: 5px 0;
}